<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>

<body>

<ul>
    <li><a class="active" href="#home">Home</a></li>

        <li><a href="/Profile">Profile</a></li>
    <li><a href="/Transfer">Transfer</a></li>
    <li><a href="/Deposit">Deposit</a></li>
    <li><a href="/Login">Logout</a></li>

</ul>




<!--<div class="topnav">-->

<!--    <a class="active" href="#home">Home</a>-->
<!--    <a href="#about">About</a>-->
<!--    <a class ="nav-link" href="Profile" >Profile</a>-->
<!--    <a href="#contact">Contact</a>-->
<!--    <a href="#transfer">Transfer</a>-->
<!--    <div class="login-container">-->
<!--        <form action="">-->
<!--            <input type="text" placeholder="Username" name="username">-->
<!--            <input type="text" placeholder="Password" name="psw">-->
<!--            <button type="submit">Login</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--<div style="padding-left:16px">-->

<center><marquee><h2>Welcome to ABC Bank</h2></marquee></center>
<img src="ABCBANK.JPG" width="1300" height="300">
</body>
</html>